tmp-n8n-workflow.json
{
  "name": "LHFEX Chat - Agentes IA v2",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "chat", "responseMode": "responseNode", "options": {}},
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "wh-001",
      "name": "Webhook Chat"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {"outputKey": "airton", "conditions": {"options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json.body.agentId }}", "rightValue": "airton", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true},
            {"outputKey": "iana", "conditions": {"options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json.body.agentId }}", "rightValue": "iana", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true},
            {"outputKey": "maria", "conditions": {"options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json.body.agentId }}", "rightValue": "maria", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true},
            {"outputKey": "iago", "conditions": {"options": {"caseSensitive": false}, "conditions": [{"leftValue": "={{ $json.body.agentId }}", "rightValue": "iago", "operator": {"type": "string", "operation": "equals"}}]}, "renameOutput": true}
          ],
          "fallbackOutput": {"outputKey": "fallback"}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [280, 300],
      "id": "sw-001",
      "name": "Route by Agent"
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "r1", "name": "reply", "value": "={{ 'Ola ' + ($json.body.userName || 'amigo') + '! Sou o AIrton, maestro da LHFEX. Posso ajudar com visao geral dos processos, coordenar os outros agentes e orientar decisoes estrategicas de comex. Voce disse: ' + $json.body.message }}", "type": "string"}, {"id": "a1", "name": "agentId", "value": "airton", "type": "string"}]}, "options": {}},
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [560, 100], "id": "s-airton", "name": "AIrton Response"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ reply: $json.reply, agentId: $json.agentId }) }}", "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [840, 100], "id": "r-airton", "name": "Reply AIrton"
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "r2", "name": "reply", "value": "={{ 'Ola ' + ($json.body.userName || 'amigo') + '! Sou a IAna, especialista em comercio exterior. Posso ajudar com classificacao NCM, descricoes blindadas, documentacao e compliance aduaneiro. Voce disse: ' + $json.body.message }}", "type": "string"}, {"id": "a2", "name": "agentId", "value": "iana", "type": "string"}]}, "options": {}},
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [560, 260], "id": "s-iana", "name": "IAna Response"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ reply: $json.reply, agentId: $json.agentId }) }}", "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [840, 260], "id": "r-iana", "name": "Reply IAna"
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "r3", "name": "reply", "value": "={{ 'Ola ' + ($json.body.userName || 'amigo') + '! Sou a marIA, gestora financeira da LHFEX. Posso ajudar com controle de custos, cambio, planejamento tributario e analises financeiras. Voce disse: ' + $json.body.message }}", "type": "string"}, {"id": "a3", "name": "agentId", "value": "maria", "type": "string"}]}, "options": {}},
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [560, 420], "id": "s-maria", "name": "marIA Response"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ reply: $json.reply, agentId: $json.agentId }) }}", "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [840, 420], "id": "r-maria", "name": "Reply marIA"
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "r4", "name": "reply", "value": "={{ 'E ai ' + ($json.body.userName || 'amigo') + '! Sou o IAgo, engenheiro de infra da LHFEX. Cuido dos servidores, workflows N8N, integracoes e manutencao do sistema. Voce disse: ' + $json.body.message }}", "type": "string"}, {"id": "a4", "name": "agentId", "value": "iago", "type": "string"}]}, "options": {}},
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [560, 580], "id": "s-iago", "name": "IAgo Response"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ reply: $json.reply, agentId: $json.agentId }) }}", "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [840, 580], "id": "r-iago", "name": "Reply IAgo"
    },
    {
      "parameters": {"assignments": {"assignments": [{"id": "r5", "name": "reply", "value": "Desculpe, agente nao reconhecido. Agentes disponiveis: AIrton, IAna, marIA, IAgo.", "type": "string"}, {"id": "a5", "name": "agentId", "value": "unknown", "type": "string"}]}, "options": {}},
      "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [560, 740], "id": "s-fallback", "name": "Fallback Response"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ reply: $json.reply, agentId: $json.agentId }) }}", "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [840, 740], "id": "r-fallback", "name": "Reply Fallback"
    }
  ],
  "connections": {
    "Webhook Chat": {"main": [[{"node": "Route by Agent", "type": "main", "index": 0}]]},
    "Route by Agent": {"main": [
      [{"node": "AIrton Response", "type": "main", "index": 0}],
      [{"node": "IAna Response", "type": "main", "index": 0}],
      [{"node": "marIA Response", "type": "main", "index": 0}],
      [{"node": "IAgo Response", "type": "main", "index": 0}],
      [{"node": "Fallback Response", "type": "main", "index": 0}]
    ]},
    "AIrton Response": {"main": [[{"node": "Reply AIrton", "type": "main", "index": 0}]]},
    "IAna Response": {"main": [[{"node": "Reply IAna", "type": "main", "index": 0}]]},
    "marIA Response": {"main": [[{"node": "Reply marIA", "type": "main", "index": 0}]]},
    "IAgo Response": {"main": [[{"node": "Reply IAgo", "type": "main", "index": 0}]]},
    "Fallback Response": {"main": [[{"node": "Reply Fallback", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
